.joinus_input {
  border: 2px dashed white;
  background: transparent;
}
.joinus_input::placeholder {
  color: white;
}
.joinus_input:focus {
  color: white;
  border: 2px dashed white;
}

.joinus-btn-container {
  background-color: white;
}

.joinus-btn {
  border: 2px dashed #e9672fd8;
  border-radius: 0;
}
.joinus-btn:hover {
  border: 2px dashed #e9672fd8;
  border-radius: 0;
}
