.navbar {
  background-color: #fff;
  border: 1px dashed #29458bda;
  border-radius: 0;
}
.wave {
  background-image: url(/static/media/wave1.dbc035cebe34c4a6b558.svg);
  background-position: bottom;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
}
.bg_color_dark_yellow {
  background-color: #f6c23e;
  padding-bottom: 100px;
  position: relative;
}
.wave-container {
  height: 100px;
  overflow: hidden;
}
.wave-container,
.wave-container svg {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}
.wave-container svg {
  height: auto;
}
.category_box_item_text:hover {
  color: #e9672fd4;
}
.instagram_images:hover {
  opacity: 0.8;
}
.discover-btn,
.discover-btn:hover {
  background-color: #fff;
  border: 1px dashed #29458bda;
  border-radius: 0;
}
.discover-btn:hover {
  color: #29458bda;
}
.joinus_input {
  background: transparent;
  border: 2px dashed #fff;
}
.joinus_input::-webkit-input-placeholder {
  color: #fff;
}
.joinus_input::placeholder {
  color: #fff;
}
.joinus_input:focus {
  border: 2px dashed #fff;
  color: #fff;
}
.joinus-btn-container {
  background-color: #fff;
}
.joinus-btn,
.joinus-btn:hover {
  border: 2px dashed #e9672fd8;
  border-radius: 0;
}
.searchBar_container {
  border: 1px dashed #8080809d;
}
.fa-search-container {
  background-color: #ff4d00ce;
}
.fa-search {
  border: 1px dashed #fff;
}
@font-face {
  font-family: Francois_One;
  src: url("../media/FrancoisOne-Regular.eac14538475d205a7761.ttf");
}
@font-face {
  font-family: Gilda_Display;
  src: url("../media/GildaDisplay-Regular.ttf")
    format("ttf");
}
@font-face {
  font-family: Quicksand;
  src: url("../media/Quicksand-VariableFont_wght.92e1d0f3321b53e20d2b.ttf")
    format("ttf");
}
.font_gilda_display {
  font-family: Gilda_Display;
}
.font_francois_one {
  font-family: Francois_One;
}
.font_quicksand {
  font-family: Quicksand;
}
.border_gray_dashed_own {
  border: 3px dashed #5e5e5e38;
  border-radius: 0;
}
.border_blue_dashed_own {
  border: 1px dashed #29458bda;
  border-radius: 0;
}
.border_white_dashed_own {
  border: 3px dashed #fff;
  border-radius: 0;
}
.bg_color_orange {
  background-color: #e9672fd4;
}
.bg_color_dark_orange {
  background-color: #e05a35d2;
}
.bg_color_dark_yellow {
  background-color: #e2a336;
}
.color_dark_orange {
  color: #e05a35d2;
}
.color_orange {
  color: #e9672fd4;
}
.color_gray {
  color: #525252e1;
}
.color_light_gray {
  color: #52525240;
}
.color_mate_blue {
  color: #29458bda;
}
.color_light_blue {
  color: #3455a6da;
}
.submit_btn:hover {
  background-color: #e9672fd4;
  border: 3px dashed #fff;
  border-radius: 0;
}
* {
  box-sizing: border-box;
}
.img-zoom-container {
  position: relative;
}
.img-zoom-lens {
  border: 1px solid #d4d4d4;
  height: 40px;
  position: absolute;
  width: 40px;
}
.img-zoom-result {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  left: 100%;
  opacity: 1;
  position: absolute;
  top: 0;
  transition: opacity 0.3s ease-in-out;
  width: 300px;
}
/*# sourceMappingURL=main.ef839285.css.map*/
